
body {
  background-color: #CDB4FF;
  font-family: Montserrat;
  font-size: 90%;
  margin: 1.8em;
  font-color: #130016;
}

.top-menu {
    float: left;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px;

}

.top-menu-item {
  letter-spacing: 4px;
  font-size: 140%;
  font-weight: bold;
  padding: 8px;
  color: #dd3700;
  text-decoration: none;
}

.top-menu-item-active {
  letter-spacing: 4px;
  font-size: 140%;
  font-weight: bold;
  padding: 8px;
  color: white;
  background-color: #dd3700;
  border-radius: 5px;
}

.transparent {
  float: left;
  width: 75%;
  background:rgba(255,255,255,0.4);
  border-radius: 5px;
  margin-top: 30px;
}

.heading {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 20px 20px 0 20px;
}

.sub-heading {
  font-size: 115%;
  font-weight: bold;
  margin: 10px 20px 0 20px;
}

.main-content {
  /* float: left;
  width: 75%; */
    margin: 20px;
    text-align: justify;
    /*border: 1px solid green;*/
}

.top-right-corner {
  float: right;
  clear: right;
  width: 18%;
  padding: 10px;
  display: flex;
  justify-content: center;
}


.right-column {
  float: right;
  width: 20%;
  background:rgba(255,255,255,0.4);
  border-radius: 5px;
  clear: right;
  margin-top: 30px;
  /*border: 1px solid red;*/
  /* margin-top: 115px; */
  /* padding: 10px; */
}

td {
  vertical-align: top;
  text-align: justify;
}

.my-photo {
    height: auto;
    width: 100%;
    /* min-width: 100px; */
    image-orientation: 90deg;
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.icon {
  color: #dd3700;
  margin: 10px;
}

.container {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}


@font-face {
    font-family: Montserrat;
    src: url(http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}
